
    <div class="m-auto" id="display">
      <div class="card bg-info border-dark" style="margin: 100px 0 0 0;">
        <h2 class="text-center text-white p-3"> Drum Machine</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <button mat-raised-button color="accent" id="q" (click)="playSound('q')"> Q</button>
                <button mat-raised-button color="accent" id="w" (click)="playSound('w')"> W</button>
                <button mat-raised-button color="accent" id="e" (click)="playSound('s')"> E</button>
              </div>
              <div class="row">
                <button mat-raised-button color="accent" id="a" (click)="playSound('a')"> A</button>
                <button mat-raised-button color="accent" id="s" (click)="playSound('s')"> S</button>
                <button mat-raised-button color="accent" id="d" (click)="playSound('d')"> D</button>
              </div>
              <div class="row">
                <button mat-raised-button color="accent" id="z" (click)="playSound('z')"> Z</button>
                <button mat-raised-button color="accent" id="x" (click)="playSound('x')"> X</button>
                <button mat-raised-button color="accent" id='c' (click)="playSound('c')"> C</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container">
                <p class="mb-n2 font-weight-bold mt-2">POWER</p>
                <mat-slide-toggle color="primary" (change)="off($event)">
              </mat-slide-toggle>
                <div class="card bg-dark border-primary mt-2 text-center">
                    <p class="text-white font-weight-bold"> {{this.sounds + title}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
 